.bord {
    border-style: solid;
    border-color: green;
    border-width: 5px;
}
.text2 {
    display: inline-block;
    border: solid green;
    border-radius: 200px;
    width: 100px;
    background: green;
}
.text2 {
    font-size: medium;
    color: white;
    text-align: center;
}
.text3 {
    display: inline-block;
    font-size: medium;
    padding-left: 45%;
}
.text6 {
    display: inline-block;
    font-size: medium;
    padding-left: 45px;
}
.text4 {
    display: inline-block;
    font-size: medium;
    color: white;
    margin-left: 45px;
    border: solid green;
    border-right-width: 10px;
    border-left-width: 10px;
    border-radius: 200px;
    background: green;
}
.text5 {
    display: inline-block;
    font-size: medium;
    margin-left: 45px;
}
.bord1 {
    border-style: double;
    border-color: grey;
    border-width: 1px;
    margin-top: 15px;
}
.text7 {
    text-align: center;
}