.bord {
    background-color: black;
    background-size: 50%;
}
.bord div {
    color: white;
    font-size: smaller;
}
.a {
    display: flex;
    flex-direction: row;
}
.menu {
    flex-basis: 20%;
}
.menu2 {
    flex-basis: 80%;
}
.box{
        width: 230px;
        height: 120px;
        display: flex;
        flex-direction: row;
        margin: 5%;
        margin-left: 5%;
}
.box1 {
    background-color: red;
    font-size: small;
}
.box2 {
    background-color: blue;
    font-size: small;
}